@import 'tailwindcss';

@font-face {
	font-family: 'Century-Gothic';
	src: url('../../public/fonts/CenturyGothic.ttf') format('ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
}
