@import 'tailwindcss';

@font-face {
	font-family: 'Century-Gothic';
	src: url('/fonts/CenturyGothic.ttf') format('truetype');
}

@font-face {
	font-family: 'Brown-Sugar';
	src: url('/fonts/BrownSugar.ttf') format('truetype');
}

:root {
	/* Colors */
	--grey: #d9d9d9;
	--lime: #ecf9e5;
	--black: #000000;
	--green: #2f4539;
	--peach: #e2915a;
	--off-white: #fff2e9;
	--dark-teal: #013835;
	--light-teal: #d8e5d1;
	--placeholder: #707070;
	--border-color: #cfcfcf;

	/* Fonts */
	--brown-sugar: 'Brown-Sugar', sans-serif;
	--century-gothic: 'Century-Gothic', sans-serif;

	/* Backgrounds */
	--hero-bg-mobile: url('/images/Hero-bg-mobile.png');
	--hero-bg-desktop: url('/images/Hero-bg-desktop.png');
	--moment-bg: url('/images/Moment.png');
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
}

.max-width {
	max-width: 1440px;
	margin: 0 auto;
	padding-left: 50px;
	padding-right: 50px;
}

@media screen and (max-width: 720px) {
	.max-width {
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* Slider buttons */

.react-multiple-carousel__arrow {
	background: none !important;
	border: 1px solid var(--dark-teal) !important;
	min-width: 53px !important;
	min-height: 53px !important;
	z-index: 10 !important;
}

.react-multiple-carousel__arrow--left {
	left: 0px !important;
}

.react-multiple-carousel__arrow--right {
	right: 0px !important;
}

.react-multiple-carousel__arrow--left:before,
.react-multiple-carousel__arrow--right:before {
	color: var(--dark-teal) !important;
}

input[type='text'],
input[type='email'],
textarea {
	border: solid 1px var(--border-color);
	padding: 15px;
	font-family: 'Century-Gothic', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	letter-spacing: 0%;
	width: 100%;
	margin-top: 15px;
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
	outline: var(--border-color) 1px solid;
}

input[type='text']::placeholder,
textarea::placeholder {
	color: var(--placeholder);
}
